<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<link rel="stylesheet" th:href="@{/confirmation.css}">
<head>
    <meta charset="UTF-8">
    <title>Confirmation of payment</title>
</head>
<body>
    <h1>Confirmation of payment</h1>
    <p th:text="'Payment verification number: ' + ${confirmationNumber}"></p>
    <p th:text="'Payment amount: ' +'$' +${amountPaid}"></p>
    <p th:text="${message}"></p>
    <div>
		<a href="/studentIdInput"> Modify Account Information </a>
	</div>
</body>
</html>
